header {
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
}

header .logo2 {
    background-image: url('../images/logo2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 50px; /* Adjust according to your logo size */
    height: 50px; /* Adjust according to your logo size */
    margin-left: 20px;
}

